@import 'null_style.scss';

.btn {
	padding: 16px 16px;
	border-radius: 5px;
	background-color: #26ae68;
	color: #ffffff;
}

.del-btn {
	padding: 16px 16px;
	border-radius: 5px;
	background-color: #ae5a26;
	color: #ffffff;
}